body{
    padding-top: 60px;
    overflow-x:hidden;
    background-color: #FBE4D0;
    
}

.fa.fa-wrench:hover{
color: #e3b457 !important;
}
.fa.fa-book:hover{
  color: #e3b457 !important;
  }
  .fa.fa-desktop:hover{
    color: #e3b457 !important;
    }

.parent {
      
    align-items: center;
   
  }

  
  .left {
    width: 100%;
    
    padding-top: 40em;
    color: #ffffff;
    background: #eeeeee;
    min-height: 500px;
    flex-basis: 66.66%;
    Font-Family: 'Crimson Text', Serif;
    padding-left: 0em;
    padding-right:0em;  }
  
  .container-fluid{
   padding-right: 5px;
  }

   
#welcome{
  margin-right: 0px;
}
  .right{
   
    padding: 2em 2em 1em 2em;
  
    
  
    background: #C8845D;
    /*flex-basis: 33.33%; */
    border-radius: 15px; 
    
    Font-Family: 'Crimson Text', Serif;
    box-shadow: 10px 10px 5px grey;
        
      

 }
 .container{
padding-right: 15px;
 }

  #about_us_container{
      padding-top:1em;
      padding-bottom: 1em;
      Font-Family: 'Crimson Text', Serif;
      font-size: 13pt;
    
  }

 p{
  Font-Family: 'Crimson Text', Serif;
 }

  #background_our_core_values{
      padding-top:1em;
      Font-Family: 'Crimson Text', Serif;
  }

  #background_about_us_container{
    background-color: #fcede0;
    Font-Family: 'Crimson Text', Serif;
    
  }
  
  #images{
      border-radius: 25px;
      box-shadow: 10px 10px 5px grey;

  }
  #background_our_team{
    background-color: #fcede0;
    padding-top:1em;
  }
  h1,h2,h3,h4,h5,h6{
    Font-Family: 'Unica One', Cursive;
  
  }

  .footer {
    position: fixed;
    height: 55px;
    bottom: 0;
    color:#fff;
    padding-top:20px;
    width: 100%;
    background: #00003E; 
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);  
    background: linear-gradient(to right, #31BDE6, #00003E); 
    text-align:center;
}
  

.navbar{
  background: #00003E; 
    background: -webkit-linear-gradient(to right, #31BDE6, #00003E);  
    background: linear-gradient(to right, #31BDE6, #00003E);
    
}
.navbar-nav a{
  color: white;
}
.dropdown .dropdown-menu a{color: #000000; text-decoration: none;}

/*
  hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #E12723;
} */

hr{
  margin: 0px;
  padding: 0px;
}

  @media screen and (max-width: 475px){

    body{
        padding-top: 60px;
    }
    
    .parent {
      flex-direction: column;  
    }
    .container-fluid{
      padding:2px;
     }
    
    .left {
        
        padding-top:40em; 
        padding-left: 0;
        padding-right:0;
      width: auto;
      min-height: 300px;
      Font-Family: 'Crimson Text', Serif;
     /* min-width: 350px; */
    }
    
    .right {
      background: #C8845D;
     
      margin:0;
      margin-top:1em; 
    padding-top:2em;
      Font-Family: 'Crimson Text', Serif;
      
    }

.first{
order:1;
} 
.second{
order: 2;
} 
.third{
order: 3;
}
.fourth{
order:4;
}
  @media screen and (max-width: 990px){

    body{
        padding-top: 60px;
    }
    
    .parent {
      flex-direction: column;  
    }
    
    .left {
        padding-top:25em; 
        padding-left: 0;
      width: auto;
      min-height: 300px;
      Font-Family: 'Crimson Text', Serif;
     /* min-width: 350px; */
    }
    
    .right {
      background: #C8845D;
      Font-Family: 'Crimson Text', Serif;
     
     
      margin-top:1em; 
    padding:2em;
    }
}
    
 @media(min-width: 875px){
    body{
        padding-top: 60px;
        background-color: #FBE4D0;
    }
    
    .parent {
        display: flex;
        font-family: arial, sans-serif;
       
      }
      
      .left {
        width: 100%;
        Font-Family: 'Crimson Text', Serif;
        padding-top: 40em;
        color: #ffffff;
        background: #eeeeee;
        min-height: 500px;
        flex-basis: 66.66%
      }
      
      .right{
       
        margin-top:1em; 
        padding:2em;
        color: #222;
        background: #C8845D;
        flex-basis: 33.33%;
        Font-Family: 'Crimson Text', Serif;
        text-align: center;
       
        margin-right:3em;
        
      }
    
    }
  }

  @media (min-width: 999px) {
   .container-fluid{
     padding-right: 50px;
   }
  }